@using Data.Models
@model List<Movie>
@{
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Movies List</title>
</head>
<body>
    <h1>Movies List</h1>

    @if (Model != null && Model.Any())
    {
        <table border="1">
            <thead>
                <tr>
                    <th>Title</th>
                    <th>Description</th>
                    <th>Genre</th>
                    <th>Show Times</th>
                    <th>Tools</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var movie in Model)
                {
                    <tr>
                        <td>@movie.Title</td>
                        <td>@movie.Description</td>
                        <td>@movie.Genre.Name</td>
                        <td>
                            @if (movie.ShowTimes != null && movie.ShowTimes.Any())
                            {
                                <ul>
                                    @foreach (var showTime in movie.ShowTimes)
                                    {
                                        <li>@showTime.ShowDate</li>
                                    }
                                </ul>
                            }
                            else
                            {
                                <p>No show times available</p>
                            }
                        </td>
                        <td>
                            <a asp-action="Update" class="btn btn-primary" asp-route-id="@movie.Id">Update</a>
                            <a href="#" class="btn btn-danger" onclick="confirmDelete(@movie.Id)">Delete</a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    }
    else
    {
        <p>No movies available</p>
    }

    <a asp-action="Create" class="btn btn-primary">Add movie</a>
</body>
</html>

<script>
    function confirmDelete(movieId) {
        // Wyświetlenie okna potwierdzenia
        if (confirm("Czy na pewno chcesz usunąć ten film?")) {
            // Jeśli potwierdzono, przejdź do akcji usuwania
            var form = document.createElement("form");
            form.method = "post"; // Ustaw metodę na POST
            form.action = '/Admin/Delete'; // Ustaw akcję na Delete

            // Dodaj pole ukryte z ID filmu
            var hiddenField = document.createElement("input");
            hiddenField.type = "hidden";
            hiddenField.name = "id"; // Nazwa pola zgodna z parametrem w kontrolerze
            hiddenField.value = movieId;

            form.appendChild(hiddenField);
            document.body.appendChild(form); // Dodaj formularz do ciała dokumentu
            form.submit(); // Wyślij formularz
        }
    }
</script>