@using Data.Models
@model List<ShowTime>
@{
}

<h1>Your reservations for show times</h1>
<h3>You can cancel your reservation at least one hour before the start of the movie</h3>

<form asp-controller="Payment" asp-action="GetPaymentDetails" method="get" onsubmit="isAnyChecked(event)">

    <div>
        <div class="row">
            <div id="alert-message" class="alert alert-warning" style="display: none;"></div>

            @foreach (var showTime in Model)
            {
            
               var showTimeReservations = ((IEnumerable<SeatReservation>)ViewBag.reservations)
                .FirstOrDefault(r => r.ShowTimeId == showTime.Id && r.UserId == ViewBag.UserId);
            

                var movie = showTime.Movie;

                <div class="col-md-4 mb-4">
                    <div class="card h-100">
                        <h5 class="card-title text-center">@movie.Title</h5>
                        <img src="@movie.ImgPath" class="card-img-top" alt="@movie.Title poster" />
                        <div class="card-body">
                            <p class="card-text"><strong>Show Date: </strong>@showTime.ShowDate.Value.ToString("yyyy-MM-dd HH:mm")</p>
                            <p class="card-text"><strong>Sector: </strong>@showTimeReservations.Sector</p>
                            <p class="card-text"><strong>Seat: </strong>@showTimeReservations.Seat</p>
                            <p class="card-text"><strong>Ticket: </strong>@showTimeReservations.Ticket.Type</p>
                        </div>

                        <input type="hidden" name="reservations[@Model.IndexOf(showTime)].ShowTimeId" value="@showTime.Id" />
                        <input type="hidden" name="reservations[@Model.IndexOf(showTime)].Sector" value="@showTimeReservations.Sector" />
                        <input type="hidden" name="reservations[@Model.IndexOf(showTime)].Seat" value="@showTimeReservations.Seat" />
                        <input type="hidden" name="reservations[@Model.IndexOf(showTime)].Price" value="@showTimeReservations.Ticket.Price" />

                        <div class="custom-checkbox">
                            <input type="checkbox" id="checkbox-@showTime.Id" name="selectedReservations" value="@showTime.Id" />
                            <label for="checkbox-@showTime.Id"></label>
                        </div>
                        <a asp-action="CancelReservation" asp-route-showTimeId="@showTime.Id" 
                        asp-route-userId="@ViewBag.UserId" class="btn btn-primary" 
                        style="background-color:red"><i class="bi bi-plus-circle"></i>Cancel reservation</a>

                    </div>
                    
                </div>
            }
            <button type="submit" class="btn btn-success">Pay</button>
        </div>
    </div>
</form>

<script>
    function isAnyChecked(event){
        var checkBoxes = document.querySelectorAll('input[type="checkbox"][name="selectedReservations"]');
        var message = document.getElementById("alert-message");
        var anyChecked = false;

        // Check if at least one checkbox is checked
        for (var i = 0; i < checkBoxes.length; i++) {
            if (checkBoxes[i].checked) {
                anyChecked = true;
                break;
            }
        }

        if (!anyChecked) {
            // Show a warning message and prevent form submission
            message.innerHTML = "Warning! Select the movies you want to pay for.";
            message.style.display = "block";

            message.scrollIntoView({ behavior: "smooth", block: "center" });

            event.preventDefault();
        } else {
            // Hide the warning message if everything is okay
            message.style.display = "none";
        }
    }
</script>